import React, { FunctionComponent, ReactElement } from 'react';
import { PageLayout } from 'elementals';
import { facetsPublic } from 'assets/data/facets';

interface {{pascalCase name}}PageProps {
label: string;
}

export const {{pascalCase name}}Page: FunctionComponent<{{pascalCase name}}PageProps> = (props): ReactElement => {
    return (
        <PageLayout facets={facetsPublic} {...props}>
            <div>Hello, {{pascalCase name}} Page</div>
        </PageLayout>
    );
};