.content-wrapper {
  background-color: #222222;
  color: #ffffff;
}

.ta-label {
  font-weight: bold;
}

.item-label {
  display: inline-block;
  width: 20rem;
}

.item-value {
  display: inline-block;
  width: 50rem;
  overflow-wrap: break-word;
}
