header {
  padding: 0 128px;
}

.va-api-logo {
  max-width: 264px;
  a {
    font-weight: 300;
  }
}

.va-api-mobile-menu-button {
  border-radius: 0;
  height: 4rem;
  text-transform: uppercase;
  width: 6rem;
}

.va-api-header {
  position: relative;
}

a.va-api-skipnav {
  background-color: #f9f9f9;
  position: absolute;
  z-index: 100;
  top: -100px;

  &:focus {
    top: 0;
    outline-offset: 0;
  }

  &:hover {
    background-color: #f9f9f9;
  }
}

.va-dropdown {
  display: inline-block;
  margin-right: 15px;
}

.va-dropdown-panel {
  width: 300px;
}

.ta-label {
  font-weight: bold;
  color: #2e3743;
}

textarea {
  background: #2e3743;
  color: #fff !important;
  max-height: 90px;
}
