import React, { FunctionComponent, ReactElement } from 'react';
import './{{dashCase name}}.scss';
import { K2Render, K2Form, K2RaisedButton, K2TextField, K2Row } from 'app/k2-mui-core';
import { ComponentsFormDefinitions } from 'app/models'; // SWITCH THIS MODEL OUT WITH WHATEVER DEFINITIONS MODEL YOU WILL BE USING FOR THE FORM

class Props {
    formControls: any;
    formDefinitions: ComponentsFormDefinitions;
}

export class {{pascalCase name}}Render extends K2Render<Props> {
    constructor(props?: Props) {
        super();
        this.override({ props });
    }

    props = new Props();
    Component: FunctionComponent<Props> = ({ formControls, formDefinitions, ...props }): ReactElement => {
        return (
            <div className="{{dashCase name}}">
                <K2Form {...formControls}>
                    <K2Row>
                        <K2TextField {...formDefinitions.textField} />
                    </K2Row>
                    <br />
                    <K2RaisedButton type="submit" fullWidth={false}>
                        Submit
                    </K2RaisedButton>
                </K2Form>
            </div>
        );
    };
}
